#board {
    height: 40em;
    width: 40em;
    border-style: solid;
}

.blackSquare {
    height: 5em;
    width: 5em;
    background-color: black;
    display: flex;
    justify-content: center;
    
}

.whiteSquare {
    height: 5em;
    width: 5em;
    background-color: white;
    display: flex;
    justify-content: center;
}

#board > div {
    height: 5em;
    width: 40em;
    display: flex;

    
}